<template>
  <div>
    <div class="title has-text-centered">E1920779</div>
    <div class="subtitle has-text-centered">Benoit Gautier</div>
  </div>
</template>

<script>

export default {
  name: 'About',
  mounted() {
  },
  methods: {
  },
};
</script>

<style scoped>
</style>
