<template>
<div v-if="Episode !== null">
  <router-link v-bind:to="{ name: 'ViewEpisode', params: { EpisodeId: Episode.EpisodeId }}">
  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column">
        <figure class="image">
            <img v-bind:src="Episode.Image" v-bind:alt="Episode.EpisodeId">
        </figure>
        </div>
        <div class="column is-1">
        </div>
        <div class="column">
          <div class='subtitle'>{{ Episode.Season.ShortSeasonName }} -
            {{ Episode.E00Format }} - {{ Episode.Title }}</div>
          <div class="columns">
            <div class="column is-4">
              <div class='subtitle'>{{ Episode.Runtime }}</div>
            </div>
            <div class="column">
              <div class='subtitle'>{{ Episode.Season.TvShow.TVParentalGuideline }}</div>
            </div>
          </div>
          <div class="subtitle">{{ Episode.Plot }}</div>
        </div>
      </div>
    </div>
  </div>
  </router-link>
</div>
</template>

<script>

export default {
  name: 'DetailsEpisode',

  components: {

  },
  data() {
    return {
      Episode: null,
    };
  },

  mounted() {
    this.RefreshDataEpisode();
  },
  props: ['EpisodeId'],
  methods: {
    async RefreshDataEpisode() {
      const response = await fetch(`${this.$root.$data.srvUrl}api/episode?EpisodeId=${this.EpisodeId}`);
      if (response.ok) {
        this.Episode = await response.json();
      } else {
        console.log(response.statusText);
      }
    },
  },
};
</script>

<style scoped>
</style>
