<template>
  <div v-if="Teleserie !== null">
  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column">
        <figure class="image">
            <img v-bind:src="Teleserie.Image" v-bind:alt="Teleserie.Title">
        </figure>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="title is-1">{{ Teleserie.Title }}</div>
            </div>
            <div class="column is-3">
              <button class="button is-success" v-if="this.$store.state.token &&
              this.favorites == false"
              v-on:click="addFavoris()" >Ajouter au favoris</button>
              <button class="button is-danger" v-if="this.$store.state.token &&
              this.favorites == true"
              v-on:click="supprFavoris()" >Supprimer des favoris</button>
            </div>
          </div>
          <div class="subtitle is-6 mt-2">{{ Teleserie.Year}}</div>
          <div class="columns">
          <div class="column is-3">
              <div class="subtitle is-6">{{ Teleserie.EpisodeCount}} episodes</div>
              <div class="subtitle is-6">Studio</div>
          </div>
          <div class="column">
            <div class="subtitle is-6">{{ Teleserie.TVParentalGuideline }}</div>
            <div class="subtitle is-6">{{ Teleserie.Studio.Name }}</div>
          </div>
          <div class="columns">
            <div class="subtitle is-6 pr-1" v-for="g in Teleserie.Genres" v-bind:key="g.Teleserie">
              {{ g.Name }}</div>
          </div>
        </div>
        <div class="subtitle is-6 has-text-justified">{{ Teleserie.Plot }}</div>
        </div>
        </div>
          <div class="scrolling-wrapper-flexbox">
            <div v-for="acteur in Teleserie.Roles"
            v-bind:key="acteur.RoleId" class="column is-2">
              <acteur v-bind:acteur="acteur" />
            </div>
          </div>
          <div class="scrolling-wrapper-flexbox">
            <div v-for="saison in Teleserie.Seasons"
            v-bind:key="saison.SeasonId" class="column is-3">
              <saison v-bind:saison="saison" />
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>

import acteur from '@/components/Acteurs.vue';
import saison from '@/components/Saisons.vue';

export default {
  name: 'Details',

  components: {
    acteur,
    saison,
  },
  data() {
    return {
      Teleserie: null,
      favorites: null,
    };
  },
  props: ['TvShowId'],
  watch: {
    $route() {
      // react to route changes...
      this.RefreshDataTeleSeries();
    },
  },
  mounted() {
    this.RefreshDataTeleSeries();
    this.getFavorites();
  },
  methods: {
    async RefreshDataTeleSeries() {
      console.log(`TvShowId: ${this.TvShowId}`);
      const response = await (fetch(`${this.$root.$data.srvUrl}/api/tvshow?TvShowId=${this.TvShowId}`));
      if (response.ok) {
        this.Teleserie = await response.json();
      } else {
        console.log(response.statusText);
      }
    },

    async getFavorites() {
      const srvURL = `${this.$root.$data.srvUrl}/api/favorites?TvShowId=${this.TvShowId}`;
      const bearerToken = `bearer ${this.$store.state.token}`;
      const response = await fetch(srvURL, {
        method: 'GET',
        headers: {
          Authorization: bearerToken,
        },
      });
      if (response.ok) {
        const data = await response.json();
        this.favorites = data.IsFavorite;
      }
    },

    async addFavoris() {
      const srvURL = `${this.$root.$data.srvUrl}/api/favorites?TvShowId=${this.TvShowId}`;
      const bearerToken = `bearer ${this.$store.state.token}`;
      const response = await fetch(srvURL, {
        method: 'POST',
        headers: {
          Authorization: bearerToken,
        },
      });
      if (response.ok) {
        this.getFavorites(this.TvShowId);
      }
    },

    async supprFavoris() {
      const srvURL = `${this.$root.$data.srvUrl}/api/favorites?TvShowId=${this.TvShowId}`;
      const bearerToken = `bearer ${this.$store.state.token}`;
      const response = await fetch(srvURL, {
        method: 'DELETE',
        headers: {
          Authorization: bearerToken,
        },
      });
      if (response.ok) {
        this.getFavorites(this.TvShowId);
      }
    },
  },
};
</script>

<style scoped>
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}
</style>
