<template>
<div v-if="episodes" class="row columns is-multiline">
  <div v-for="episode in episodes" v-bind:key="episode.EpisodeId" class="column is-variable
  is-3-desktop is-12-mobile is-4-tablet">
   <episode v-bind:episode="episode" />
  </div>
</div>
</template>

<script>

import episode from '@/components/Episode.vue';

export default {
  name: 'Episodes',

  data() {
    return {
      episodes: null,
    };
  },
  components: {
    episode,
  },
  mounted() {
    this.RefreshDataEpisodes();
  },
  props: ['SeasonId'],
  methods: {
    async RefreshDataEpisodes() {
      const response = await fetch(`${this.$root.$data.srvUrl}/api/episodes?SeasonId=${this.SeasonId}`);
      if (response.ok) {
        const data = await response.json();
        this.episodes = data.Episodes;
      } else {
        console.log(response.statusText);
      }
    },
  },
};
</script>

<style scoped>

</style>
