<template>
<div class="section">
  <div class="columns is-centered">
    <div class='subtitle is-3'>
      Favorites
    </div>
  </div>
  <div v-if="Teleseries" class="row columns is-multiline">
    <div v-for="teleseries in Teleseries"
      v-bind:key="teleseries.TvShowId" class="column is-variable
      is-3-desktop is-12-mobile is-4-tablet">
      <teleseries v-bind:teleseries="teleseries" />
    </div>
  </div>
  <div class="subtitle is-4 has-text-centered" v-if='Teleseries.length === 0'>
      Vous n'avez pas de télésérie dans vos favoris.
  </div>
</div>
</template>
<script>

import teleseries from '@/components/Teleseries.vue';

export default {
  name: 'Favorites',
  components: {
    teleseries,
  },
  data() {
    return {
      Teleseries: [],
    };
  },
  mounted() {
    this.RefreshFavorites();
  },
  methods: {
    async RefreshFavorites() {
      const srvURL = `${this.$root.$data.srvUrl}api/favorites`;
      const bearerToken = `bearer ${this.$store.state.token}`;
      const response = await fetch(srvURL, {
        method: 'GET',
        headers: {
          Authorization: bearerToken,
        },
      });
      if (response.ok) {
        this.Teleseries = await response.json();
      } else {
        this.$router.push({ path: '/' });
      }
    },
  },
};
</script>

<style scoped>
</style>
