<template>
  <div class="container">
    <h1 class="title has-text-centered">Téléseries</h1>
    <div class="section">
      <div class="columns is-centered">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label for="titre" class="label">Titre</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input id="titre" class="input" type="text" placeholder="Title filter"
                         v-on:change="this.RefreshDataTeleSeries" v-model="titleFilter">
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" style="padding-left:20px">
            <div class="field-label is-normal">
                <label class="label" for="genresFilter">Genre</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control" style="min-width: 200px">
                        <div class="select is-fullwidth">
                            <select id="genresFilter"
                                    v-on:change="this.RefreshDataTeleSeries"
                                    v-model="genresFilter">
                                <option></option>
                                <option v-for="g in Genres"
                                        v-bind:key="g.GenreId"
                                        v-bind:value="g.Name">{{ g.Name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" style="padding-left:20px">
          <div class="field-label is-normal">
              <label class="label" for="studiosFilter">Studio</label>
          </div>
          <div class="field-body">
              <div class="field">
                  <div class="control" style="min-width: 200px">
                      <div class="select is-fullwidth">
                          <select id="studiosFilter"
                                    v-on:change="this.RefreshDataTeleSeries"
                                    v-model="studiosFilter">
                                <option></option>
                                <option v-for="s in Studios"
                                        v-bind:key="s.StudioId"
                                        v-bind:value="s.Name">{{ s.Name }}
                                </option>
                            </select>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
          <div v-if="Teleseries !== null" class="row columns is-multiline">
            <div v-for="teleseries in filter"
            v-bind:key="teleseries.TvShowId" class="column is-variable
            is-3-desktop is-12-mobile is-4-tablet">
              <teleseries v-bind:teleseries="teleseries" />
            </div>
          </div>
    </div>
  </div>
</template>

<script>

import teleseries from '@/components/Teleseries.vue';

export default {
  name: 'Home',

  computed: {
    filter() {
      return this.Teleseries.filter((f) => f.Title.includes(this.titleFilter)
      && f.Studio.Name.includes(this.studiosFilter)
      && (f.Genres).find((g) => g.Name.includes(this.genresFilter)));
    },
  },
  components: {
    teleseries,
  },
  data() {
    return {
      Teleseries: null,
      Studios: null,
      Genres: null,
      titleFilter: '',
      studiosFilter: '',
      genresFilter: '',
    };
  },

  mounted() {
    this.RefreshDataTeleSeries();
    this.RefreshDataStudios();
    this.RefreshDataGenres();
  },
  methods: {
    async RefreshDataTeleSeries() {
      const response = await (fetch(`${this.$root.$data.srvUrl}/api/tvshows`));
      if (response.ok) {
        this.Teleseries = await response.json();
      } else {
        console.log(response.statusText);
      }
    },
    async RefreshDataStudios() {
      const response = await (fetch(`${this.$root.$data.srvUrl}/api/studios`));
      if (response.ok) {
        this.Studios = await response.json();
      } else {
        console.log(response.statusText);
      }
    },
    async RefreshDataGenres() {
      const response = await (fetch(`${this.$root.$data.srvUrl}/api/genres`));
      if (response.ok) {
        this.Genres = await response.json();
      } else {
        console.log(response.statusText);
      }
    },
  },
};
</script>

<style scoped>
</style>
