<template>
 <div class="container">
        <div class="section">
            <div class="columns is-centered">
                <div class='column is-3'>
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left has-icons-right">
                        <input v-model="login" class="input" type="email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class='column is-3'>
                  <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                      <input v-model="password" class="input" type="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="this.error == 'compteInvalide'">
                          Compte invalide</p>
                  </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-3">
                  <div class="field">
                    <p class="control">
                      <button v-on:click="obtenirJeton" class="button is-success">
                        Connexion
                      </button>
                      <button v-on:click="annuler" class="button is-danger ml-2">
                        Annuler
                      </button>
                    </p>
                  </div>
                </div>
            </div>
        </div>
   </div>
</template>
<script>

export default {
  name: 'Login',
  data() {
    return {
      login: null,
      password: null,
      error: null,
    };
  },
  mounted() {

  },
  methods: {
    async obtenirJeton() {
      const bodyContent = `grant_type=password&username=${this.login}&password=${this.password}`;

      const response = await fetch(`${this.$root.$data.srvUrl}/token`, {
        method: 'POST',
        body: bodyContent,
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      });

      if (response.ok) {
        const data = await response.json();
        this.$store.dispatch('storeToken', data.access_token);
        this.error = null;
        this.$router.push('/');
      } else {
        console.error(response.statusText);
        this.error = 'compteInvalide';
      }
    },

    annuler() {
      this.login = null;
      this.password = null;
      this.$store.dispatch('storeLogout');
    },
  },
};
</script>

<style scoped>
</style>
