<template>
<div>
 <div v-if="this.$store.state.token !== null" class="container">
        <div class="section">
            <div class="columns is-centered">
                <div class='column is-3'>
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left has-icons-right">
                        <input v-model="email" class="input" type="email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        </p>
                        <p class="help is-danger" v-if="this.error == 'email'">
                          Email invalide</p>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class='column is-3'>
                  <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                      <input v-model="password" class="input" type="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="this.error == 'mdpLen'">
                          Mot de passe trop court</p>
                  </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class='column is-3'>
                  <div class="field">
                    <label class="label">Confirm Password</label>
                    <p class="control has-icons-left">
                      <input v-model="confirmPassword" class="input" type="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-3">
                  <div class="field">
                    <p class="control">
                      <button v-on:click="verifCompte" class="button is-success">
                        Update Profile
                      </button>
                      <button v-on:click="supprCompte" class="button is-danger ml-2">
                        Delete Profile
                      </button>
                    </p>
                    <p class="help is-danger" v-if="this.error == 'mdpEq'">
                          Confirmation du mot de passe invalide</p>
                  </div>
                </div>
            </div>
        </div>
   </div>
   <div v-else v-bind="this.$router.push('/')" />
</div>
</template>
<script>

export default {
  name: 'Profile',
  data() {
    return {
      email: null,
      password: null,
      confirmPassword: null,
      error: null,
    };
  },
  mounted() {
    this.refreshCompte();
  },
  methods: {

    verifCompte() {
      if (this.password === this.confirmPassword) {
        if (this.password.length > 5) {
          if (this.email.length > 5 && this.email.length < 30) {
            this.modifCompte();
            this.error = null;
          } else this.error = 'email';
        } else this.error = 'mdpLen';
      } else this.error = 'mdpEq';
    },

    async refreshCompte() {
      const bearerToken = `bearer ${this.$store.state.token}`;
      const response = await fetch(`${this.$root.$data.srvUrl}api/user`, {
        method: 'GET',
        headers: {
          Authorization: bearerToken,
        },
      });
      if (response.ok) {
        const data = await response.json();
        this.email = data.Email;
      } else {
        console.error(response.statusText);
      }
    },

    async modifCompte() {
      const bodyContent = JSON.stringify({
        email: this.email,
        password: this.password,
      });

      const bearerToken = `bearer ${this.$store.state.token}`;

      const response = await fetch(`${this.$root.$data.srvUrl}api/user`, {
        method: 'PUT',
        body: bodyContent,
        headers: {
          'Content-Type': 'application/json',
          Authorization: bearerToken,
        },
      });

      if (response.ok) {
        this.$router.push('/');
      } else {
        console.error(response.statusText);
      }
    },

    async supprCompte() {
      const bodyContent = JSON.stringify({
        email: this.email,
        password: this.password,
      });

      const bearerToken = `bearer ${this.$store.state.token}`;

      const response = await fetch(`${this.$root.$data.srvUrl}api/user`, {
        method: 'DELETE',
        body: bodyContent,
        headers: {
          Authorization: bearerToken,
        },
      });

      if (response.ok) {
        this.$store.dispatch('storeLogout');
        this.$router.push('/');
      } else {
        console.error(response.statusText);
      }
    },
  },
};
</script>

<style scoped>
</style>
