<template>
 <div class="container">
        <div class="section">
            <div class="columns is-centered">
                <div class='column is-3'>
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left has-icons-right">
                        <input v-model="email" class="input" type="email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        </p>
                        <p class="help is-danger" v-if="this.error == 'email'">
                          Email invalide</p>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class='column is-3'>
                  <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                      <input v-model="password" class="input" type="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="this.error == 'mdpLen'">
                          Mot de passe trop court</p>
                  </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class='column is-3'>
                  <div class="field">
                    <label class="label">Confirm Password</label>
                    <p class="control has-icons-left">
                      <input v-model="confirmPassword" class="input" type="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="this.error == 'mdpEq'">
                          Confirmation du mot de passe invalide</p>
                  </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-3">
                  <div class="field">
                    <p class="control">
                      <button v-on:click="verifCompte" class="button is-success">
                        SignUp
                      </button>
                      <button v-on:click="annuler" class="button is-danger ml-2">
                        Annuler
                      </button>
                    </p>
                  </div>
                </div>
            </div>
        </div>
   </div>
</template>
<script>

export default {
  name: 'SignUp',
  data() {
    return {
      email: null,
      password: null,
      confirmPassword: null,
      error: null,
    };
  },
  mounted() {

  },
  methods: {

    verifCompte() {
      if (this.password === this.confirmPassword) {
        if (this.password.length > 5) {
          if (this.email.length > 5 && this.email.length < 30) {
            this.creerCompte();
            this.error = null;
          } else this.error = 'email';
        } else this.error = 'mdpLen';
      } else this.error = 'mdpEq';
    },

    async creerCompte() {
      const bodyContent = JSON.stringify({
        email: this.email,
        password: this.password,
      });

      const response = await fetch(`${this.$root.$data.srvUrl}/api/user`, {
        method: 'POST',
        body: bodyContent,
        headers: { 'Content-Type': 'application/json' },
      });

      if (response.ok) {
        this.$router.push('/');
      } else {
        console.error(response.statusText);
      }
    },

    annuler() {
      this.email = null;
      this.password = null;
      this.$store.dispatch('storeLogout');
    },
  },
};
</script>

<style scoped>
</style>
