<template>
<div v-if="Video">
  <video controls>
    <source v-bind:src="Video" type="video/mp4">
  </video>
</div>
<div v-else class="has-text-danger has-text-centered is-size-3">
  Unauthorized
</div>
</template>

<script>

export default {
  name: 'ViewEpisode',

  data() {
    return {
      Video: null,
    };
  },

  mounted() {
    this.RefreshDataViewEpisode();
  },
  props: ['EpisodeId'],
  methods: {
    async RefreshDataViewEpisode() {
      const srvURL = `${this.$root.$data.srvUrl}api/viewepisode?EpisodeId=${this.EpisodeId}`;
      const bearerToken = `bearer ${this.$store.state.token}`;
      const response = await fetch(srvURL, {
        method: 'GET',
        headers: {
          Authorization: bearerToken,
        },
      });
      if (response.ok) {
        const data = await response.json();
        this.Video = data.Video;
      } else {
        console.log(response.statusText);
      }
    },
  },
};
</script>

<style scoped>
</style>
