<template>
<div>
  <div class="card large">
    <div class="card-image">
      <figure class="image">
        <img v-bind:src="acteur.Image" v-bind:alt="acteur.RoleId">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6 has-text-centered">{{ acteur.Name }}</p>
          <p class="subtitle is-6 has-text-centered">{{ acteur.Character }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Acteurs',
  props: {
    acteur: Object,
  },
};
</script>

<style scoped>

</style>
