<template>
<router-link v-bind:to="{ name: 'DetailsEpisode', params: { EpisodeId: episode.EpisodeId }}">
  <div class="card large">
    <div class="card-image">
      <figure class="image">
        <img v-bind:src="episode.Image" v-bind:alt="episode.EpisodeId">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5 has-text-centered">{{ episode.Title }}</p>
          <p class="title is-7 has-text-centered has-text-grey">
            Episode {{ episode.EpisodeId }}</p>
        </div>
      </div>
    </div>
  </div>
</router-link>
</template>

<script>
export default {
  name: 'Episode',
  props: {
    episode: Object,
  },
};
</script>

<style scoped>

</style>
