<template>
  <div class="column">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                  <router-link class="navbar-item has-text-grey" v-bind:to="{ name: 'Home'}">
                    Library
                  </router-link>
                </div>

            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                  <router-link class="navbar-item has-text-grey" v-bind:to="{ name: 'Profile'}"
                  v-if="isLoggedIn">
                    Profile
                  </router-link>
                  <router-link class="navbar-item has-text-grey" v-bind:to="{ name: 'Favorites'}"
                  v-if="isLoggedIn">
                    Favorites shows
                  </router-link>
                  <router-link class="navbar-item has-text-grey" v-bind:to="{ name: 'SignUp'}"
                  v-if="!isLoggedIn">
                    Sign Up
                  </router-link>
                  <router-link class="navbar-item has-text-grey" v-bind:to="{ name: 'Login'}"
                  v-if="!isLoggedIn">
                      Login
                  </router-link>
                  <router-link v-bind:to="{ name: 'Home'}"
                  v-if="isLoggedIn">
                  <div class="navbar-item has-text-grey" v-on:click="logout">
                    Logout
                  </div>
                  </router-link>
                  <router-link class="navbar-item has-text-grey" v-bind:to="{ name: 'About'}">
                    About
                  </router-link>
                </div>
            </div>
            </div>
        </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Menu',

  computed: {
    isLoggedIn() { return this.$store.getters.isLoggedIn; },
  },

  methods: {
    logout() {
      this.$store.dispatch('storeLogout');
    },
  },
};
</script>

<style scoped>

</style>
