<template>
<router-link v-bind:to="{ name: 'Episodes', params: { SeasonId: saison.SeasonId }}">
  <div class="card large">
    <div class="card-image">
      <figure class="image">
        <img v-bind:src="saison.Image" v-bind:alt="saison.SeasonId">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5 has-text-centered">Season {{ saison.Number }}</p>
          <p class="subtitle is-6 has-text-centered mt-1">{{ saison.EpisodeCount }} episodes</p>
        </div>
      </div>
    </div>
  </div>
</router-link>
</template>

<script>
export default {
  name: 'Saisons',
  props: {
    saison: Object,
  },
};
</script>

<style scoped>

</style>
