<template>
<router-link v-bind:to="{ name: 'Details', params: { TvShowId: teleseries.TvShowId }}">
  <div>
    <div class="card large">
      <div class="card-image">
        <figure class="image">
          <img v-bind:src="teleseries.Image" v-bind:alt="teleseries.Title">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5 has-text-centered">{{ teleseries.Title }}</p>
            <p class="subtitle is-6 has-text-centered" v-if="teleseries.SeasonCount > 1">
              {{ teleseries.SeasonCount }} seasons </p>
            <p class="subtitle is-6 has-text-centered" v-else>
              {{ teleseries.SeasonCount }} season </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</router-link>
</template>

<script>
export default {
  name: 'Teleseries',
  props: {
    teleseries: Object,
  },
};
</script>

<style scoped>

</style>
